#root {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #e5e5e5;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 0.5rem;

  .logo {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
  }

  .logo:hover {
    scale: 1.1;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  #title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;
    padding: 0.5rem;

    .logo {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
    
  }
}

#description {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #780000;
  margin-bottom: 0.5rem;
}

.wrapper {
  height: calc(100vh - 13rem);
  display: flex;
  gap: 1rem;
  padding: 1rem;

  #editor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    background-color: #1d3557;
    position: relative;

    #copy {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      span {
       font-weight: bold;
        font-size: 0.75rem;
      }
    }

    #copy-success {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #fff;
      font-weight: bold;
      font-size: 0.75rem;
      animation: fadeOut 1s ease-in-out forwards;

      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      @media (max-width: 576px) {
        top: 0.5rem;
        right: 0.5rem;
      }

      img {
        width: 100%;
        height: 100%;
      }

      span {
        font-weight: bold;
        font-size: 0.75rem;
      }
    }

    #editor {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }
  #preview-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #457b9d;

    #preview {
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(187, 172, 172);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0.5rem;

    #editor-container {
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: 576px) {
    #editor-container {
      #copy {
        top: 0.5rem;
        right: 0.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    #preview-container {
      margin-top: 0.5rem;
    }
  }
}

.links {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #000;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  margin: 0 0.5rem;
}

.links img {
  width: 1rem;
  height: 1rem;
}

.links a:hover {
  scale: 1.1;
  cursor: pointer;
  color: #0e5079;
}